 <div class="table_width">
 <table class="table table-bordered border-primary">
  <thead>
    <tr class="table-info">
     <th class="w-25">今日の投稿</th>
     <th class="w-25">昨日の投稿</th>
     <th class="w-25">前日比</th>
    </tr>
  </thead>
  <tbody>
    <tr>
     <td class="w-25"><%= @today_book.count %></td>
     <td class="w-25"><%= @yesterday_book.count %></td>
     <% if @yesterday_book.count == 0 %>
       <td class="w-25">前日の投稿はなし</td>
     <% else %>
       <td class="w-25">
         <% @the_day_before = @today_book.count / @yesterday_book.count.to_f  %>
         <%= (@the_day_before * 100).round %>%
       </td>
     <% end %>
     </tr>
   </tbody>
 </table>
 </div>
  <div class="table_width">
 <table class="table table-bordered border-primary">
   <thead>
     <tr class="table-info">
      <th class="w-25">今週の投稿</th>
      <th class="w-25">先週の投稿</th>
      <th class="w-25">先週比</th>
     </tr>
   </thead>
   <tbody>
     <tr>
       <td class="w-25"><%= @this_week_book.count %></td>
       <td class="w-25"><%= @last_week_book.count %></td>
       <% if @last_week_book.count == 0 %>
         <td class="w-25">先週の投稿はなし</td>
       <% else %>
         <td>
           <% @the_week_before = @this_week_book.count / @last_week_book.count.to_f %>
           <%= (@the_week_before * 100).round %>%
         </td>
       <% end %>
     </tr>
   </tbody>
 </table>
 </div>
 <h4>７日分の投稿数</h4>
 <div class="table_width">
   <table class="table table-bordered">
    <thead>
      <tr class="table-info">
       <th>６日前</th>
       <th>５日前</th>
       <th>４日前</th>
       <th>３日前</th>
       <th>２日前</th>
       <th>１日前</th>
       <th>今日</th>
      </tr>
    </thead>
    <tbody>
      <tr class="table">
       <td><%= @ago_6days_book.count %></td>
       <td><%= @ago_5days_book.count %></td>
       <td><%= @ago_4days_book.count %></td>
       <td><%= @ago_3days_book.count %></td>
       <td><%= @ago_2days_book.count %></td>
       <td><%= @yesterday_book.count %></td>
       <td><%= @today_book.count %></td>
       </tr>
     </tbody>
   </table>
 </div>
 <canvas id="myChart"></canvas>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js" integrity="sha256-R4pqcOYV8lt7snxMQO/HSbVCFRPMdrhAFMH+vr9giYI=" crossorigin="anonymous"></script>
 <script>
 var ctx = document.getElementById('myChart').getContext('2d');
 var chart = new Chart(ctx, {
     type: 'line',
     data: {
         labels: ['６日前', '５日前', '４日前', '３日前', '２日前', '１日前', '今日'],
         datasets: [{
             label: '投稿した本の数',
             borderColor: 'rgb(75, 192, 192)',
             fill: false,
             data: [<%= @ago_6days_book.count %>,
             　　　　　　<%= @ago_5days_book.count %>,
             　　　　　　<%= @ago_4days_book.count %>,
             　　　　　　<%= @ago_3days_book.count %>,
             　　　　　　<%= @ago_2days_book.count %>,
             　　　　　　<%= @yesterday_book.count %>,
             　　　　　　<%= @today_book.count %>]
         }]
     },
     options: {
       title: {
         display: true,
         text: '７日間の投稿数の比較'
       }
     }
});
</script>

<div class=search-form style="margin-top: 40px;" >
  <%= form_tag(search_path, method: :get) do %>
    <%= date_field_tag 'content' %>
    <%= submit_tag '検索' %>
  <% end %>
</div>
<h4>検索結果</h4>
 <div class="table_width">
   <table class="table table-bordered border-primary">
    <thead>
      <tr class="table-info">
       <th>投稿数</th>
      </tr>
    </thead>
    <tbody>
      <tr>
       <td><%= @today_book.count %></td>
      </tr>
    </tbody>
   </table>